*.obj
*.vcxproj.user
Debug/
Release/*.*
!Release/brawlls.exe
!Release/values32b.exe
!Release/*.dll
!Release/BrawlLib.txt
values32b/Release

*.*sdf
*.suo
values32b/values32b_cygwin.exe
values32b/values32b.exe
